:host {
  display: block;
}

// Ẩn thanh cuộn mặc định của ScrollPanel để dùng custom style
::ng-deep .custom-scroll {
  .p-scrollpanel-bar {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.monitor-layout {
  // Fix chiều cao 100vh và bg tối
  background-color: #0f172a; // Slate-900
}

.active-card {
  background-color: #1e293b; // Slate-800
  transition: transform 0.2s;

  &:hover {
    transform: translateX(4px); // Hiệu ứng trượt nhẹ khi hover
    background-color: #334155; // Slate-700
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Mobile Adjustments
@media screen and (max-width: 768px) {
  .monitor-layout {
    flex-direction: column;
  }

  .main-area {
    height: 100%;
  }

}

@media screen and (min-width:769px) {
  .main-area {
    height: calc(100% - 100px);
  }
}
