<div class="app">
  <div class="top-accent-bar"></div>

  <header class="header-desktop shadow-1">
    <div class="container">
      <div class="header-left">
        <p-button icon="pi pi-bars" (click)="visible = true" [text]="true" severity="secondary" styleClass="hamburger-btn"></p-button>
        <div class="logo-text"><span>MyApp</span></div>
      </div>

      <div class="header-search">
       <app-box-search></app-box-search>
      </div>
    </div>
  </header>

  <p-drawer [(visible)]="visible" header="Menu">
      <div class="drawer-content">
          <ul class="drawer-list">
              <li *ngFor="let item of menuItems">
                  <ng-container *ngIf="item.routerLink; else actionItem">
                      <a [routerLink]="item.routerLink"
                         class="drawer-link cursor-pointer"
                         [class.active-route]="router.isActive(item.routerLink, false)"
                         (click)="visible = false">
                          <i [class]="item.icon"></i>
                          <span>{{ item.label }}</span>
                      </a>
                  </ng-container>

                  <ng-template #actionItem>
                      <a class="drawer-link cursor-pointer" (click)="handleMenuClick($event, item)">
                          <i [class]="item.icon"></i>
                          <span>{{ item.label || 'Action' }}</span>
                      </a>
                  </ng-template>
              </li>
          </ul>
      </div>
  </p-drawer>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <nav class="mobile-bottom-nav">
    <div class="nav-container w-full h-full flex justify-content-around align-items-center relative">

        <ng-container *ngFor="let item of menuItems">

            <a *ngIf="item.routerLink"
               [routerLink]="item.routerLink"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               class="nav-item cursor-pointer">

               <i [class]="item.icon"></i>
               <span class="nav-label">{{ item.label }}</span>
            </a>

            <a *ngIf="!item.routerLink"
               class="nav-item cursor-pointer nav-item-qr"
               (click)="handleMenuClick($event, item)">

               <i [class]="item.icon"></i>
               </a>

        </ng-container>

    </div>
  </nav>

</div>
<p-toast position="top-center" [baseZIndex]="99999"></p-toast>
